@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

first{
 position: relative;
 width: 100%;
 min-height: 100vh;
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 background: url(Comp.jpg)no-repeat;
 background-size:cover;
 background-position: center;
}