@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: url("ImageL/Comp.jpg")no-repeat;
    background-size:cover;
    background-position: center;
}

header{
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;

}

header .Home{
    position: relative;
    color: #000;
    text-align: right;
    font-size: 20px;
    height: fit-content;
    max-width: 20px;
    text-decoration: none;
    text-transform: none;
    font-weight: 800;
    letter-spacing: 1px;
}

header .nav-right a{
    color: #000;
    background: #fff;
    text-decoration: none;
    font-weight: 500;
    text-align: center;
    max-width: 20px;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 20px;
    transition: o.3s;
    transition-property: background;
}

header .nav-right a:hover{
    background: rgb(224, 48, 121);
}

header .nav-right a:not(:last-child){
    margin-inline: 30px;
}

header .navigation a:hover{
    background: #fff;
}

.main{
    max-width: 650px;
    margin: 60px 100px;
}

.main .info h2{
    color: rgb(255, 255, 255);
    font-size: 55px; 
    text-transform: none;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 30px;
}

.main .info h2 span{
    color:#c575db;
    font-size: 40px;
    font-weight: 600;
}

.main .info p{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 40px;
}

.main .info img{
    max-height: 300px;
    max-width: 300px;
    border: 5px solid #f158d8;
    border-radius: 15px;
    margin: 10px;
    padding: 3px;
}

.main .info-btn{
    color:#fff;
    background:lightseagreen;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 750px;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.3s;
    transition-property: background;
}

.main .info-btn:hover{
    background:rgb(69, 169, 231);

}
